.board{
    .board-row{
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #fff;
        &:last-child{
            border-bottom: none;
        }
    }
}
.square{
    width: 80px;
  height: 80px;
  border-right: 2px solid #fff;
  font-size: 2.5rem;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.redx{
    color: red;
}
.greeno{
    color: green;
}
.newGame{
    &.active{
        background-color: orange;
    }
}
.startGame{
    color: #ff00ff;
}